doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
<<<<<<< HEAD
=======
    script(src="../public/libs/jquery.js")
    script(src="../public/libs/bootstrap/js/bootstrap.js")
>>>>>>> 5608764c651082fdfd97c5ec506b9a82a5175549
